h1 
{ 
	background-color: aliceblue;
	width: 80%;
	text-align: center;
	font-size: 60px;
	padding-top: 15px;
	padding-bottom: 15px;
	margin: auto;
	margin-top: 20px;
	font-weight: bolder;
}
p 
{
	text-align: center;
	color: aliceblue;
}
#match 
{
	
	font-size: 35px;
	width: 300px;
	height: 40px;
}
#scoreboard 
{
	
	font-size: 35px;
	height: 100px;;
	width: 300px;
	text-align: center;
	background-color: aliceblue;
}
#yourScore 
{
	
	font-size: 35px;
	display: block;
	width: 300px;
}
.crystal 
{
	width: 300px;
}
#image
{
	margin:auto;
	width: 70%;
}
#images 
{
	margin: auto;
    width: 40%;
    display: block;
    margin-top: 20px;
}
#numberText 
{
	margin: auto;
    width: 20%;
	margin-top: 20px;
	background-color: aliceblue;
	text-align: center;
	padding-top: 25px;
}
body
{
	background-color: black;
}